- if @students.count == 0
	%h3 No students to display.
	%h3= link_to 'Add a student', new_user_registration_path
- else
	- @students.each do |student|
		.col-xs-12.col-sm-6.col-md-4.clearfix
			%a{:href => "/students/#{student.id}/lessons", :class => 'list-item-link'}
				.well.assignment-well.clearfix.assignment-div
					%h3= student.name
					%p= "Age: #{student.profile.age} | Gender: #{student.profile.gender}"
					%p= "Instrument: #{student.profile.instrument}"
			=button_to 'View Profile', profile_path(student.id), class: 'btn btn-primary card-btn left-btn col-xs-6', method: :get
			=button_to 'History', student_lesson_notes_path(student.id), class: 'btn btn-primary card-btn right-btn col-xs-6', method: :get
