%h1 Teach Me
- if current_user
	-if current_user.profile
		= link_to 'View Profile', profile_path(current_user), class: 'btn btn-danger'
	-else
		= link_to 'Add Profile', new_profile_path(current_user), class: 'btn btn-danger'
	= link_to 'Sign Out', destroy_user_session_path, class: 'btn btn-danger', method: :delete
	-if current_user.teacher
		= link_to 'Add New Student', new_user_registration_path, class: 'btn btn-danger'
- else
	= link_to 'Sign In', new_user_session_path, class: 'btn btn-danger'

