- if current_user.is_teacher?
	%h3= @student.name
%h3= @lesson.date.to_time.strftime("%a, %b %d, %Y")
	
- if @assignments.length == 0
	%h3 No assignments to display.
- else
	- @assignments.each_with_index do |assignment, index|
		.col-xs-12.col-sm-6.col-md-6
			%a{:href => "/assignments/#{assignment.id}", :class => 'list-item-link'}
				.well.clearfix.assignment-div
					.col-xs-12
						%h3= "#{assignment.book} p#{assignment.page}"
					.col-xs-12.col-sm-12
						%p= "Goal: #{assignment.per_day} times on #{assignment.per_week} days"
						%p= "Instructions: #{assignment.instruction}"
			=button_to 'Played!', assignment_practices_path(assignment.id), class: 'btn btn-primary played-btn'
			
		-if index.odd?
			.col-xs-12
-if current_user.teacher
	.col-xs-12
		= link_to 'Add assignment', new_lesson_assignment_path(@lesson), class: 'btn btn-primary'
