- if current_user.is_teacher?
	%h3.col-xs-12= @student.name
	%h3.col-xs-12.title-line2= @lesson.date.to_time.strftime("%a, %b %d, %Y")

	.col-xs-12
		= link_to 'New Assignment', new_lesson_assignment_path(@lesson), class: 'btn btn-primary top-btn'
		= link_to 'View Lesson Note', edit_lesson_note_path(@lesson.lesson_notes.first), class: 'btn btn-primary top-btn'
	
- if @assignments.length == 0
	%h3 No assignments to display.
- else
	- @assignments.each_with_index do |assignment, index|
		.col-xs-12.col-sm-6.col-md-6
			.well.btn-well.clearfix.assignment-div.col-xs-12.fill-div-space
				%h3= "#{assignment.book} p#{assignment.page}"
				%p= "Goal: #{assignment.per_day} times on #{assignment.per_week} days"
				%p= "Instructions: #{assignment.instruction}"
				.assignment-div.fill-div.grad{:data => {fill: "#{assignment.fill}"}}

			- if current_user.is_student?
				=button_to 'Played!', assignment_practices_path(assignment.id), class: 'btn btn-primary card-btn full-btn'
			- else
				=button_to 'Edit', edit_assignment_path(assignment.id), class: 'btn btn-secondary card-btn left-btn col-xs-6', method: :get
				=button_to 'Delete', assignment_path(assignment.id), class: 'btn btn-secondary card-btn right-btn col-xs-6', method: :delete, data: {confirm: "Are you sure?"}
			
		-if index.odd?
			.col-xs-12

