-teacher = current_user.is_teacher?
-rating = @lesson.rating

.col-xs-12
	-if @lesson.previous
		=button_to 'Previous', lesson_path(@lesson.previous), class: 'btn btn-secondary pull-left', method: :get
	-if @lesson.next
		=button_to 'Next', lesson_path(@lesson.next), class: 'btn btn-secondary pull-right', method: :get
	-elsif teacher
		=button_to 'Add next lesson', new_student_lesson_path(@lesson.student_id), class: 'btn btn-primary pull-right', method: :get
- if teacher
	%h3.col-xs-12.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2= @student.name
	%h3.col-xs-12.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2.title-line2= @lesson.date.to_time.strftime("%a, %b %d, %Y")
	.col-xs-12.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
		= link_to 'New', new_lesson_assignment_path(@lesson), class: 'btn btn-primary top-btn'
		-if @lesson.lesson_notes.first
			= link_to 'Notes', edit_lesson_note_path(@lesson.lesson_notes.first), class: 'btn btn-primary top-btn'
		-if @lesson.assignments.any?
			%button.btn.btn-primary.top-btn.complete-btn Grade
- else
	%hr

.col-xs-12.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2.star-rating
	-5.times do |i|
		-i += 1
		-if i <= rating
			%span.glyphicon.glyphicon-star
		-else
			%span.glyphicon.glyphicon-star-empty

.col-xs-12.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2.feedback
	%p= "Overall Feedback: #{@lesson.feedback}"
	
- if @assignments.length == 0
	%h3 No assignments to display.
- else
	- @assignments.each_with_index do |assignment, index|
		.col-xs-12.col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
			.well.btn-well.clearfix.assignment-div.col-xs-12.fill-div-space
				-if teacher
					-if @lesson.next
						-unless @lesson.next.next
							=button_to 'Add to next lesson', duplicate_assignment_path(assignment.id), class: 'btn btn-primary pull-right btn-duplicate'
				%h3= "#{assignment.book} p#{assignment.page}"
				%p= "Goal: #{assignment.per_day} times on #{assignment.per_week} days"
				%p= "Instructions: #{assignment.instruction}"
				.practice-bar-divide
				.assignment-div.fill-div.grad{:data => {fill: "#{assignment.fill}"}}
				.fill-div-label
					PRACTICES

			- if current_user.is_student?
				=button_to 'Played!', assignment_practices_path(assignment.id), class: 'btn btn-primary card-btn full-btn played-btn', form: { 'data-id' => "#{assignment.id}", class: 'played-form' } 
			- else
				=button_to 'Edit', edit_assignment_path(assignment.id), class: 'btn btn-secondary card-btn left-btn col-xs-6', method: :get
				=button_to 'Delete', assignment_path(assignment.id), class: 'btn btn-secondary card-btn right-btn col-xs-6', method: :delete, data: {confirm: "Are you sure?"}

.complete.outer-modal.no-show
	=render(partial: 'complete_modal')